

.abt__about-content_button{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "kiri kanan";
    border-bottom: 1px solid #fff;
    text-align: center;
}

.abt__about-content_button .kiri{
    grid-area: kiri;
}

.abt__about-content_button .kanan{
    grid-area: kanan;
}

.abt__about-content_button p{
    font-family: var(--font-family-raleway);
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 5rem;
    padding: 0 10rem;
}

.abt__about-content_about-us{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.abt__about-content_about-us_left{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    width: 630px;
}

.abt__about-content_about-us_left h1{
    font-family: var(--font-family-poppins);
    font-weight: 700;
    font-size: 3vw;
    line-height: 62px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: var(--color-text-yellow);
}

.abt__about-content_about-us_left p{
    font-family: var(--font-family-raleway);
    font-size: 1.2vw;
    line-height: 25px;
    color: var(--color-bg-white);
}

.abt__about-content_about-us_right{
    width: 550px;
}

.abt__about-content_about-us_right img{
    width: 100%;
    object-fit: cover;
}


.abt__about-content_about-us_left span{
    color: var(--color-text-yellow);
}

@media screen and (max-width: 1350px){
    .abt__about-content_about-us_left h1{
        line-height: 52px;
        font-size: 2.7vw;
        margin-bottom: 14px;
    }

    .abt__about-content_about-us_left p{
        line-height: 22px;
    }

    .abt__about-content_button p{
        margin-bottom: 3rem;
        padding: 0 5rem;
    }
}

@media screen and (max-width: 1050px){
    .abt__about-content_about-us_left h1{
        line-height: 42px;
        font-size: 2.5vw;
        margin-bottom: 14px;
    }
    .abt__about-content_about-us_left p{
        font-size: 1.1vw;
    }
    .section__margin{
        margin: 4rem;
    }

    .section__padding{
        padding: 4rem;
    }
}

@media screen and (max-width: 768px){
    .abt__about-content_button p{
        margin-bottom: 2rem;
    }

    .abt__about-content_about-us_left p{
        line-height: 18px;
    }

    .abt__about-content_about-us_left h1{
        line-height: 32px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 425px){


}


