@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700&display=swap');

:root{
  --font-family-raleway:'Raleway', sans-serif;
  --font-family-poppins:'Raleway', sans-serif;

  --color-bg-green: #2A422D;
  --color-bg-white: #ECECEC;
  --color-text-yellow: #F0A500;
  --color-text-green: #142514;
}